# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\DATN_PhieuGiaoHang\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
